<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is the Home Page</title>

</head>
<body>
	
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
		<h1 class="font-weight-bold">Smart Contact Manger</h1>
		<p>
            Start collecting your contacts in a smarter way.
            We provide a very efficient and intelligent way of handling contacts.
            </p>
	    <button type="button" class="btn btn-info btn-lg text-white">Get Started</button>

		</div>
		
	</section>

</body>
</html>